{% extends 'admin/dashboard.html.twig' %}

{% block title %}Admin - Liste des promotions{% endblock %}


{% block main %}

        <div class="col-lg-3">
            <div class="list-group mt-3">
                <li class="list-group-item list-group-item-secondary">Selectionner un promotion pour voir les étudiants</li>
                {% for promotion in promotions %}
                    <a href="{{ path('admin_liste_etudiants', {'promo': promotion.getId()}) }}" class="list-group-item list-group-item-action">{{ promotion }}</a>
                {% endfor %}
                <a href="{{ path('admin_add_promotion') }}" class="btn btn-secondary btn-lg" role="button" aria-pressed="true"><i class="fas fa-upload"></i> Importer une nouvelle promotion</a>
            </div>
        </div>


{% endblock %}