{% extends 'admin/dashboard.html.twig' %}

{% block title %}Ajout Champ Csv{% endblock %}

{% block main %}
<div class="col-lg mt-3">
    <h1>Ajout ChampCsv</h1>

    {{ include('admin/champ_csv/_form.html.twig') }}

    <a href="{{ path('admin_champ_csv_index') }}" class="btn btn-secondary btn-sm m-1" role="button" aria-pressed="true"><i class="fas fa-arrow-left"></i> retour</a>
</div>
{% endblock %}