{% extends 'admin/dashboard.html.twig' %}

{% block title %}Modification Bac{% endblock %}

{% block main %}
<div class="col-lg mt-3">
    <h1>Modification Bac</h1>

    {{ include('admin/bac/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('admin_bac_index') }}" class="btn btn-secondary btn-sm m-1" role="button" aria-pressed="true"><i class="fas fa-arrow-left"></i> retour</a>

    {{ include('admin/bac/_delete_form.html.twig') }}
</div>
{% endblock %}