{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
        {% for i in 1..10 %}
        {% for groupe in groupes %}
            <div class="col-lg-4">
                <h2 class="table-title">{{ groupe.getNom() }}</h2>
                <a href="#" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Rejoindre</a>
                <table class="table table-bordered shadow-sm mb-0 table-hover">
                    
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for etudiant in groupe.getEtudiants() %}
                        <tr>
                            <td>{{ etudiant.getNom }}</td>
                            <td>{{ etudiant.getPrenom }}</td>
                            <td> 
                                {% if 1 %}
                                    <a href="#" class="btn btn-warning btn-sm" role="button" aria-pressed="true">Quitter</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        {% endfor %}
        {% endfor %}
        </div>
    </div>
{% endblock %}