{% extends 'admin/dashboard.html.twig' %}

{% block title %}Ajout Enseignant{% endblock %}

{% block main %}
<div class="col-lg mt-3">
    <h1>Ajouter un Enseignant</h1>

    {{ include('admin/enseignant/_form.html.twig') }}

    <a href="{{ path('admin_enseignant_index') }}" class="btn btn-secondary btn-sm m-1" role="button" aria-pressed="true"><i class="fas fa-arrow-left"></i> retour</a>
</div>
{% endblock %}